<div class="columns">

  <div class="column">
    <h2 class="title is-4">Top Players</h2>
    <ol class="ml-5">
      <% @players.each do |player| %>
        <li>
          <%= link_to player.full_name, player %>
          <em>(<%= player.team.name %>)</em>
        </li>
      <% end %>
    </ol>
    <p class="mt-4">
      <strong>
        <%= link_to '👉 See All Players', players_path %>
      </strong>
    </p>
  </div>



</div>