<hr>
<footer>
  <p><em>CopyWrong NBA 2020</em></p>
  <ul class="mt-5">
    <li><%= link_to 'Home' , root_path %></li>
    <li><%= link_to 'Top Players', players_path %></li>
    <li><%= link_to 'Top Teams', teams_path %></li>
    <li><%= link_to 'About', about_index_path %></li>
  </ul>
</footer>